/* Logo  */

.brand-logo, .brand-logo img {
    top: 0;
    width: 56px;
    height: 56px;   
}

/* Nav bar */

nav {
    background-color: #000;
}

/* Main content */

.main-content {
    min-height: calc(100vh - 56px - 85px);
}

/* Search bar */

#search-bar {
    border-bottom: 1px solid black;
}

/* Input labels */

.input-field>label {
    font-size: 1rem;
    color: #000;
}

/* Input fields */

.input-field {
    max-width: 200px;
}

.margin-right {
    margin-right: 15px;
}

.margin-left {
    margin-left: 15px;
}

/* Footer */

footer {
    padding: 0;
    margin: 0;
    height: 85px;
    width:100%;
    float: left;
    border-top: 5px solid #CD1717;
    background-color: #000;
    color:#fff;
}

footer .container {
    height:80px;
    width: 100%;
    padding:0 0 0 10px;
    margin: 0;
}

footer p {
    padding:10px 0;
}

.footer-row {
    height:80px;
    display:flex;
}

.footer-row div {
    max-height: 100%;
}

.container .footer-row .copyright {
    margin-left: 0;
}

.container .footer-row .socials {
    position:absolute;
    right:0.5%;
    font-size: 1.5em;
    text-align: right;
}

/* Responsiveness */

/* Medium screens and larger */

@media only screen and (min-width: 601px) {

    /* Logo */

    .brand-logo, .brand-logo img {
        width: 64px;
        height: 64px;
    }

    /* Main content */

    .main-content {
        min-height: calc(100vh - 64px - 85px);
    }

    /* Cards */

    .row .m6:nth-child(odd){
        padding-left:  5%;
    }
    
    .row .m6:nth-child(even){
        padding-right:  5%;
    }

}

/* Small screens */

@media only screen and (max-width: 600px) {

    /* Cards */

    .row .m6{
        padding: 0 5%;
    }
}