/* Header */

header {
    border-bottom: 5px solid #b71c1c;
}

/* Logo  */

.brand-logo, .brand-logo img {
    top: 0;
    width: 56px;
    height: 56px;   
}

/* Nav bar */

nav {
    background-color: #000;
}

/* Main content */

.main-content {
    min-height: calc(100vh - 61px - 85px);
}

/* H3 box styling override */

h3 {
    margin: 0 0 1.168rem 0;
    padding-top: 1.9rem;
}

/* H4 box styling override */

h4 {
    margin: 0 0 0.912rem 0;
}

/* Search bar */

#search-bar {
    border-bottom: 1px solid black;
}

.row.margin-top {
    margin-bottom: 10px;
}

.margin-top {
    margin-top: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

/* Input labels */

.input-field>label, td>label {
    font-size: 1rem;
    color: #000;
}

/* Input fields */

#search-bar .col .input-field {
    max-width: 200px;
}

.margin-right {
    margin-right: 15px;
}

.margin-left {
    margin-left: 15px;
}

textarea {
    max-width: 100%;
}

/* Buttons */

button.btn-large, a.btn-large {
    border: 2px solid #b71c1c;
    border-radius: 7px;
}

/* Table */

table {
    border-collapse: initial;
}

.border-top {
    border-top: 1px solid black;
}

.border-bottom {
    border-bottom: 1px solid black;
}

.border-right {
    border-right: 1px solid black;
}

/* Footer */

footer {
    padding: 0;
    margin: 0;
    height: 85px;
    width:100%;
    float: left;
    border-top: 5px solid #b71c1c;
    background-color: #000;
    color:#fff;
}

footer .container {
    height:80px;
    width: 100%;
    padding:0 0 0 10px;
    margin: 0;
}

footer p {
    padding:10px 0;
}

.footer-row {
    height:80px;
    display:flex;
}

.footer-row div {
    max-height: 100%;
}

.container .footer-row .copyright {
    margin-left: 0;
}

.container .footer-row .socials {
    position:absolute;
    right:0.5%;
    font-size: 1.5em;
    text-align: right;
}

/* Responsiveness */

/* Medium screens and larger */

@media only screen and (min-width: 601px) {

    /* Logo */

    .brand-logo, .brand-logo img {
        width: 64px;
        height: 64px;
    }

    /* Main content */

    .main-content {
        min-height: calc(100vh - 69px - 85px);
    }

    /* Cards */

    .row .m6:nth-child(odd){
        padding-left:  5%;
    }
    
    .row .m6:nth-child(even){
        padding-right:  5%;
    }

}

/* Small screens */

@media only screen and (max-width: 600px) {

    /* Cards */

    .row .m6{
        padding: 0 5%;
    }
}