{% extends "base.html" %}
{% block content %}
    <div class="row">
        <h3 class="center-align">{{review.game_title}}</h3>
        <h4 class="center-align">{{review.review_title}}</h4>
        {% if user == review.created_by %}
        <div class="col s12 center">
            <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn-large black">Edit Review</a>
        </div>
        {% endif %}
        <p class="col s10 offset-s1">{{review.review}}</p>
    </div>
    {% endblock %}