{% extends "base.html" %}
{% block content %}
    <h2 class="center">I'm the extension!</h2>
    {% if reviews|length > 0 %}
        <div class="row">
            {% for review in reviews %}
                <div class="col s12 m6">
                    <div class="card xsmall blue-grey darken-1">
                        <div class="card-content white-text">
                            <div class="row">
                                <span class="card-title col s3">{{review.score}}/10</span><span class="card-title center col s9">{{ review.game_title }}</span>
                            </div>
                            <p>{{ review.review_title }}</p>
                            <p>{{ review.review_summary }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}