{% extends "reviews.html" %}
{% block search %}
    <div class="row" id="search-bar">
        <form action="{{ url_for('search') }}" method="POST" class="col s12">
            <div class="row margin-top valign-wrapper">
                <div class="col s6 offset-s3">
                    <div class="input-field center">
                        <input id="game_title" name="game_title" type="text" class="validate" required>
                        <label for="game_title">Game Title: </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <a href="{{ url_for('search') }}" class="btn-large black right">Reset</a>
                </div>
                <div class="col s6">
                    <button type="submit" class="btn-large black">Search</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block header %}
Top Reviews
{% endblock %}